@page "/confirm-email"
@layout AuthenticationLayout
@inherits ConfirmEmailBase


<div class="row">
    <div class="offset-3 col-md-6">
        <div class="card">
            <div class="card-body">
                @*<h5 class="card-title" style="font-weight:bold; color:purple">Email Confirmation Successful</h5>*@
                <div class="form-group">
                    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                    {
                        <Error ErrorMessage="@ErrorMessage" />
                    }
                    @if (!string.IsNullOrWhiteSpace(SuccessMessage))
                    {
                        <Success SuccessMessage="@SuccessMessage" />
                        <NavLink href="login">Login</NavLink>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
