@page "/logout"
@using Microsoft.AspNetCore.Authorization
@using HotelManagementSystem.BlazorWasm.Core 
@inject IAuthenticationService AuthenticationService;
@inject NavigationManager NavigationManager;

@attribute [Authorize]

<div class="row mt-4">
    <h3>logging out..</h3>
</div>

@functions
{
    protected override async Task OnInitializedAsync()
    {
        await AuthenticationService.Logout();
        NavigationManager.NavigateTo("login");
    }
}
