@page "/failed-payment"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "User,Developer")]
<div class="row mt-4">
    <div class="card">
        <div class="card-header bg-danger">
            <i class="fa fa-warning"></i> Payment Failed
        </div>
        <div class="card-body">
            <h5 class="card-title">Your payment is not succeed. Please try again.</h5>
        </div>
    </div>
</div>
